<h1>Please verify your account ...</h1>

<form method="post" action="/login">
    <div>
        <label for="username">Enter the code sent to your phone</label>
        <input name="code" id="code" value="">
    </div>
    <input type="submit"
           name="submit"
           value="Submit verification code">
</form>
